<h1>Editing Cohort</h1>

<%= render 'edit_cohort_form',cohort: @cohort %>

ALL THE STUDENTS IN THE COHORT:
<div id="removeStudentsFromCohort">
<%if @cohort.students.length != 0%>
    <% @cohort.students.each do |student|%>
        <div> 
            <%=student.first_name + " " + student.last_name%>
            <button class="ajaxDelete" id="cohort-<%=@cohort.id%>-student-<%=student.id%>"">ajax delete x</button>
        </div>
    <%end%>
<%else%>
        <div> ***  no students yet  ****</div>
<%end%>
</div>

<div id="addStudentsToCohort" class="toDo">
  <%Student.all.each do |student|%>
    <%if ! @cohort.students.include?(student) %>
         <div id="<%=student.id%>"><%=student.first_name + " " + student.last_name%>
         <button class="ajaxAdd" id="cohort-<%=@cohort.id%>-student-<%=student.id%>"">ajax add +</button>
         </div>
    <%end%>
  <%end%>
</div>

<!--  make this work with ajax
<div class="addStudentsContainer toDo" >
  <%Student.all.each do |student|%>
    <%if ! @cohort.students.include?(student) %>
        <input class="studentSelect" type="checkbox" name="students[student_id]" value="<%=student.id%>"><%=student.first_name + " " + student.last_name%><br>
    <%end%>
  <%end%>
  <button id="addStudents">add students</button>
</div>
-->


<a href="/students/new">create a student</a>

<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>
