<div id="editCohortWrap">

<div id="editCohortHeader">
  <h1>Editing Cohort</h1>
  <%= link_to 'see this cohort', @cohort %> 
  <%= link_to 'see all cohorts', cohorts_path %>
</div>

<div id="editCohortBody">
  <div id="editCohortFormWrap"
    <%= render 'edit_cohort_form',cohort: @cohort %>
  </div>

  <div id="removeStudentsFromCohort">
    <p>All Students Cohort: </p>
    
    <%if @cohort.students.length != 0%>
        <% @cohort.students.each do |student|%>
            <div> 
                <%=student.first_name + " " + student.last_name%>
                <button class="ajaxDelete" id="cohort-<%=@cohort.id%>-student-<%=student.id%>"">x</button>
            </div>
        <%end%>
    <%else%>
            <div> ***  no students yet  ****</div>
    <%end%>
   
  </div>


  <div id="addStudentsToCohortWrap">
        <p>Add Students to Cohort: </p>
        <a href="/students/new">create a student</a>
    <div id="addStudentsToCohort" class="">
      <%Student.all.each do |student|%>
        <%if ! @cohort.students.include?(student) %>
            <div id="<%=student.id%>"><%=student.first_name + " " + student.last_name%>
            <button class="ajaxAdd" id="cohort-<%=@cohort.id%>-student-<%=student.id%>"">add</button>
            </div>
        <%end%>
      <%end%>
    </div>
  </div>





  </div>
  </div>