<%@display_class="displayAll"%>
<%@this_location="cohorts"%>
<div id="subjectControlWrap">
  <%= link_to 'add a new cohort', new_cohort_path %>
</div>
<div id="wrapAll">

  <% @cohorts.each do |cohort|%>

    <div class="personProfileWrap">
    <div>
    <ul>
    <li><%= cohort.name %> cohort:</li>
    <li> teacher: <%= cohort.teacher.first_name + " "+ cohort.teacher.last_name %> </li>
    <li> start: <%= cohort.start.strftime("%m/%d/%y") %> </li>
    <li> end: <%= cohort.end.strftime("%m/%d/%y") %> </li>
   

    </div>
    <%= link_to 'Show', cohort, :class => "show" %>
     <%= link_to 'Edit', edit_cohort_path(cohort), :class => "edit" %>
     <%= link_to 'Delete', cohort, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" %>
     </div>
</ul>

   <% end %>






   </div>