<%@display_class="displayAll"%>
<div>
 <h1>Cohorts</h1>
 <%= link_to 'New Cohort', new_cohort_path %>
</div>
   <% @cohorts.each do |cohort|%>
     <div class="courseProfileWrap">
    <%= cohort.name %> 
   <%= cohort.start %>
     <%= cohort.end %>
     <%= link_to 'Show', cohort %>
     <%= link_to 'Edit', edit_cohort_path(cohort) %>
     <%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
   <% end %>