<%@display_class="displayAll"%>
<div>
 <h1>Cohorts</h1>
 <%= link_to 'New Cohort', new_cohort_path %>
</div>
   <% @cohorts.each do |cohort|%>
     <div class="courseProfileWrap">
    <%= cohort.name %> 
   <%= cohort.start %>
     <%= cohort.end %>
     <%if cohort.teacher_id != nil %>
      *****  TEACHER:
      <%= cohort.teacher.first_name %>
     <%else%>
      "this cohort needs a teacher assinged"
     <%end%>
   
     <%= link_to 'Show', cohort %>
     <%= link_to 'Edit',  "cohorts/#{cohort.id}/edit"  %>
     <%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
   <% end %>