<%@this_location="cohorts"%>
<div id="singleWrap">
<p id="notice"><%= notice %></p>


<p>
  The
  <%= @cohort.name %>
</p>

<p>
  Featuring the 
  "<%= @cohort.course.name %>"" course. <%= link_to 'Edit', edit_cohort_path(@cohort), :class => "edit" %> 
</p>


<p> start: <%= @cohort.start.strftime("%m/%d/%y") %> </p>
<p> end: <%= @cohort.end.strftime("%m/%d/%y") %> </p>



<p> Teacher: <%= @cohort.teacher.first_name%></p>
<p>Students:</p>
<ul>
<% @cohort.students.each do |student|%>
  <li><%= student.first_name + " " + student.last_name %></li>
<%end%>
</ul>



</div>