<p id="notice"><%= notice %></p>

<p>COHORT:</p>
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>


<p>
  <strong>Start:</strong>
  <%= @cohort.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @cohort.end %>
</p>



<span> TEACHER: <%= @cohort.teacher.first_name%></span>
All of the students::
<% @cohort.students.each do |student|%>
  <%= student.first_name + " " + student.last_name %>
<%end%>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
