<h1>Editing Student</h1>

<%= render 'form', student: @student %>




COHORTS:
<%if @student.cohorts.length > 0%>
    <%@student.cohorts.each do |cohort|%>
        <a href="/cohorts/<%=cohort.id%>/edit"><%=cohort.name%></a> </br>
    <%end%>
<% else %>
    <p>"Not registerd for class yet"</p>
<%end%>


<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
