<%@this_location="students"%>



<div id="singleWrap">

    <h1>Edit student: <%=@student.first_name + " " + @student.last_name%></h1>

    <%= render 'form', student: @student %>

   
<div>
   <span> See <%=@student.first_name + "'s cohorts" %></span>
    <%if @student.cohorts.length > 0%>
        <%@student.cohorts.each do |cohort|%>
            <a class="show" href="/cohorts/<%=cohort.id%>/edit"><%=cohort.name%></a> </br>
        <%end%>
    <% else %>
        <p>"Not registerd for class yet"</p>
    <%end%>
</div>

  
    </div>
