 <%@display_class="displayAll"%>
 <%@this_location="students"%>
 <div id="subjectControlWrap">
  <%= link_to 'add a new student', new_student_path %>
 </div>
 <div id="wrapAll">
      <% @students.each do |student| %>
          <div class="personProfileWrap">


            <div> 
              <%= student.first_name %>
              <%= student.last_name %> :
              <%= student.person_type%>
            </div>
            
              <div class="profilePicWrap" style="background-image: url(https:&#47;&#47;robohash.org&#47;<%=student.first_name%>)" >
              </div>

              <div>Profile:</div>
              <div> <%= student.profile %></div>
              <div> Education: <%= student.education %></div>
              <div> Age: <%= student.age %></div>
            
            <div>
              <%= link_to 'View', student %>
              <%= link_to 'Edit', edit_student_path(student) %>
              <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        </div>
     
       <% end %>

       </div>





