<p id="notice"><%= notice %></p>

STUDENT:

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @student.pic %>
</p>

<p>
  <strong>PROFILE:</strong>
  <%= @student.profile %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

</br>
<%@this_location="students"%>
WHAT COHORT IS THIS STUDENT ENROLLED IN?  

<%@student.cohorts.each do |cohort|%>
  <%=cohort.name%>
<%end%>

<%= link_to 'edit', edit_student_path(@student) %> 
<%= link_to 'all students', students_path %>
