


<div id="singleWrap">
<p id="notice"><%= notice %></p>

STUDENT:

<p>
  <%= @student.first_name %>
  <%= @student.last_name %>
</p>

<p>
  <strong>PROFILE:</strong>
  <%= @student.profile %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

</br>
<%@this_location="students"%>
Enrolments for <%=@student.first_name%>:  
<%@student.cohorts.each do |cohort|%>
  <a class="show" href="/cohorts/<%=cohort.id%>/edit"><%=cohort.name%></a> 
<%end%>

<%= link_to 'edit ' + @student.first_name, edit_student_path(@student), :class => "edit"%> 

</div>
