<p id="notice"><%= notice %></p>

STUDENT:

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @student.pic %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @student.profile %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

</br>
<span class ="toDo">
WHAT CLASSES IS THIS STUDENT ENROLLED IN?  
</br>
ADD THIS STUDENT TO A CLASS
</br>
WHAT TEACHERS HAS THIS STUDENT HAD
</span>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
