<%@display_class="displayAll"%>
<div>
 <h1>Teachers</h1>
 <%= link_to 'New Teacher', new_teacher_path %>
</div>
   <% @teachers.each do |teacher| %>
     <div class="personProfileWrap">
       <%= teacher.first_name %>
       <%= teacher.last_name %>
       <%= teacher.person_type%>
       <%= teacher.profile %>
       <%= teacher.education %>
       <%= link_to 'Show', teacher %>
       <%= link_to 'Edit', edit_teacher_path(teacher) %>
       <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
   <% end %>