<%@display_class="displayAll"%>
<%@this_location="teachers"%>
<div id="subjectControlWrap">
<%= link_to 'add a New Teacher', new_teacher_path %>
</div>
<div  id="wrapAll">
   <% @teachers.each do |teacher| %>
     <div class="personProfileWrap">


     <div>
       <%= teacher.first_name %>
       <%= teacher.last_name %> :
       <%= teacher.person_type%>
    </div>
    <div class="profilePicWrap" style="background-image: url(https:&#47;&#47;robohash.org&#47;<%=teacher.first_name%>)" >
    </div>
    <div>Profile:</div>
    <div>  <%= teacher.profile %></div>
    <div>Education: <%= teacher.education %></div>
    <div>Age: <%= teacher.age %></div>

    <div>
       <%= link_to 'Show', teacher, :class => "show" %>
       <%= link_to 'Edit', edit_teacher_path(teacher), :class => "edit" %>
       <%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' },  :class => "delete" %>
       </div>
     </div>
   <% end %>


   </div>
   