<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @teacher.profile %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @teacher.salary %>
</p>

<p class="toDo">show what cohorts the teacher is teaching </p>
<p class="toDo"> add the teacher to a cohort </p>
<p class="toDo"> remove the teacher. show a warning, and re-route to all teachers </p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
