<%@this_location="teachers"%>

<div id="singleWrap">
<p id="notice"><%= notice %></p>

<p>
  Teacher:  
  <%= @teacher.first_name %>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @teacher.profile %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @teacher.salary %>
</p>

COHORTS:
<%@teacher.cohorts.each do |cohort|%>
  <a class="show" href="/cohorts/<%=cohort.id%>/edit"><%=cohort.name%></a>
<%end%>
</br>
<%= link_to 'Edit ' + @teacher.first_name + ' ' + @teacher.last_name, edit_teacher_path(@teacher), :class => "edit" %> 
</div>