<%@display_class="displayAll"%>
<%@this_location="courses"%>
<div id="subjectControlWrap">
  <%= link_to 'add a new class', new_course_path %>
</div>
<div id="wrapAll">

  <% @courses.each do |course|%>

    <div class="personProfileWrap">
    <div>
    <ul>
    <li> Class:</li>
    <li> <%= course.name %> </li>
    <li><%= course.description %></li>
    <li>hours: <%= course.hours %></li>
    </div>
    <%= link_to 'Show', course, :class => "show" %>
     <%= link_to 'Edit', edit_course_path(course), :class => "edit" %>
     <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" %>
     </div>
</ul>

   <% end %>






   </div>