
<%@display_class="displayAll"%>
<div>
 <h1>Classes</h1>
 <%= link_to 'New Class', new_course_path %>
</div>
   <% @courses.each do |course|%>
     <div class="courseProfileWrap">
     <%= course.name %>
     <%= course.description %>
     <%= course.pic %>
     <%= course.hours %>
     <%= link_to 'Show', course %>
     <%= link_to 'Edit', edit_course_path(course) %>
     <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
   <% end %>