

<%@this_location="courses"%>
<div id="singleWrap">
<p id="notice"><%= notice %></p>


<h3>
 The <%= @course.name %> Master Class
</h3>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

<h3>cohorts for the course:</h3>
<div>
</br>
<%= link_to 'Edit', edit_course_path(@course), :class => "edit" %> 
</br>
<%@course.cohorts.each do |cohort|%>
  
   <a class="show" href="/cohorts/<%=cohort.id%>"><%=cohort.name%></a>
  <%end%>
  </div>



</div>