<p id="notice"><%= notice %></p>

<p> COURSE: </p>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @course.pic %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

<p class="toDo">show all of the cohorts for this course</p>
<p class="toDo">create a cohort out of this course</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
