<%@this_location="courses"%>
<p id="notice"><%= notice %></p>

<p> COURSE: </p>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @course.pic %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

<h3>cohorts for the course:</h3>
<div>
</br>
<%@course.cohorts.each do |cohort|%>
   <div><%=cohort.name%></div>
   <button><a href="/cohorts/<%=cohort.id%>">link to show cohort</a></button>
  <%end%>
  </div>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
